* {
  box-sizing: border-box;
}
/*****************
* SCSS VARIABLES *
*****************/

// COLORS
$background-color:rgb(106, 119, 83);
$background-text-color: rgba(231, 231, 231, 0.835);
$course-bgr-color: rgb(255, 123, 0);
$course-color: white;
$input-border: 2px solid rgb(255, 123, 0);
$btn-bgr-color: rgb(255, 123, 0);
$btn-txt-color: white;
$tr-bgr-color: #131111;
$th-bgr-color:rgb(255, 123, 0);
$th-color:rgb(8, 8, 8);


// SIZE AND WIDTH
$input-width: 100%;
$course-width: 50px;
$max-with: 500px;
$btn-width: 97%;
$table-width: 960px;
$content-width: 1000px;


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background-color;
    color: $background-text-color;
}

.content{
  max-width:$content-width;
  margin:auto;
  margin-top:85px;
}
h1{
  max-width: $max-with;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 65px;
}
table{
  max-width: $table-width;
  margin: auto;
}
#courseform{
  max-width: $max-with;
  margin: auto;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: $input-width;
  margin-bottom: 15px;
}

.course {
  padding: 10px;
  background: $course-bgr-color;
  color: $course-color;
  min-width: $course-width;
  text-align: center;
}

.input-field {
  width: $input-width;
  padding: 10px;
  margin-right: 15px;
  outline: none;
}

.input-field:focus {
  border: $input-border;
}

/* Set a style for the submit button */
.btn {
  background-color: $btn-bgr-color;
  color: $btn-txt-color;
  padding: 15px;
  border: none;
  margin-bottom: 15px;
  cursor: pointer;
  width: $btn-width;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

// table 

table {
    border-collapse: collapse;
    width: $input-width;
    max-width: $table-width;
    margin:auto
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even){background-color: $tr-bgr-color}
  
  th {
    background-color: $th-bgr-color;
    color: $th-color;
  }